<app-header></app-header>
<div class="legal-container">
  <h2>Términos y Condiciones de Capicaps S.A. de C.V.</h2>
  <p>Fecha de última actualización: 1 de julio de 2025.</p>

  <h3>1. Introducción</h3>
  <p>Bienvenido al sitio web de Capicaps S.A. de C.V.. Al acceder y utilizar nuestro sitio web, usted acepta cumplir con los presentes Términos y Condiciones, así como con todas las leyes y regulaciones aplicables en México. Si no está de acuerdo con alguno de estos términos, le solicitamos que se abstenga de utilizar nuestro sitio.</p>

  <h3>2. Uso del Servicio</h3>
  <h4>Acceso y Uso Permitido</h4>
  <p>El acceso al sitio web de Capicaps es gratuito y está destinado a tu uso personal y no comercial. Te comprometes a utilizar el sitio de manera responsable y conforme a la ley, evitando cualquier actividad que pueda dañar, deshabilitar, sobrecargar o perjudicar el funcionamiento del sitio o interferir con el uso y disfrute del mismo por parte de otros usuarios.</p>
  <h4>Conductas Prohibidas</h4>
  <p>Se prohíbe expresamente:</p>
  <ul>
      <li>Utilizar el sitio para fines ilícitos o no autorizados.</li>
      <li>Intentar acceder sin autorización a sistemas informáticos de Capicaps o de terceros.</li>
      <li>Transmitir virus, malware o cualquier otro código malicioso.</li>
      <li>Recopilar información personal de otros usuarios sin su consentimiento.</li>
      <li>Realizar actividades que infrinjan derechos de propiedad intelectual de Capicaps o de terceros.</li>
  </ul>

  <h3>3. Registro y Cuentas</h3>
  <h4>Creación de Cuenta</h4>
  <p>Para acceder a ciertos servicios o realizar compras en nuestro sitio, es posible que se te solicite crear una cuenta proporcionando información veraz, precisa, actualizada y completa. Es tu responsabilidad mantener la confidencialidad de tu contraseña y cuenta, y notificar a Capicaps de cualquier uso no autorizado de tu cuenta o cualquier otra violación de seguridad.</p>
  <h4>Responsabilidades del Usuario</h4>
  <p>Eres plenamente responsable de todas las actividades que ocurran bajo tu cuenta. Capicaps no será responsable por pérdidas o daños derivados del incumplimiento de esta obligación.</p>
  <h4>Suspensión o Cancelación de Cuenta</h4>
  <p>Capicaps se reserva el derecho de suspender o cancelar tu cuenta en cualquier momento, sin previo aviso, si considera que has violado estos Términos y Condiciones o has realizado actividades fraudulentas o ilegales.</p>

  <h3>4. Propiedad Intelectual</h3>
  <h4>Derechos de Autor y Marcas Registradas</h4>
  <p>Todo el contenido presente en el sitio web de Capicaps, incluyendo, pero no limitado a, textos, gráficos, logotipos, íconos, imágenes de gorras, clips de audio, descargas digitales y compilaciones de datos, es propiedad de Capicaps o de sus proveedores de contenido y está protegido por las leyes mexicanas e internacionales de derechos de autor y marcas registradas.</p>
  <h4>Uso Limitado</h4>
  <p>Se te concede una licencia limitada, no exclusiva y revocable para acceder y hacer uso personal y no comercial del sitio web de Capicaps. Esta licencia no incluye la reventa o uso comercial del sitio o de su contenido; cualquier recopilación y uso de listados de productos, descripciones o precios; cualquier uso derivado del sitio o de su contenido; cualquier descarga o copia de información de cuenta para el beneficio de otro comerciante; o cualquier uso de minería de datos, robots o herramientas similares de recopilación y extracción de datos.</p>
  <h4>Prohibición de Uso No Autorizado</h4>
  <p>No está permitido reproducir, duplicar, copiar, vender, revender, visitar o explotar de otra manera cualquier parte del sitio web sin el consentimiento expreso por escrito de Capicaps.</p>

  <h3>5. Limitaciones de Responsabilidad</h3>
  <h4>Exención de Garantías</h4>
  <p>El sitio web de Capicaps y todos los contenidos, materiales, información, productos y servicios incluidos o de otra manera puestos a tu disposición a través de este sitio se proporcionan "tal cual" y "según disponibilidad", sin ninguna representación o garantía de ningún tipo, expresa o implícita, incluyendo, pero no limitado a, garantías de comerciabilidad, idoneidad para un propósito particular, título o no infracción.</p>
  <h4>Limitación de Daños</h4>
  <p>Capicaps no será responsable por daños de ningún tipo derivados del uso del sitio web o de cualquier contenido, material, información, productos o servicios incluidos o de otra manera puestos a tu disposición a través del sitio, incluyendo, pero no limitado a, daños directos, indirectos, incidentales, punitivos y consecuentes, a menos que se indique lo contrario por escrito.</p>
  <h4>Enlaces a Terceros</h4>
  <p>Nuestro sitio puede contener enlaces a sitios web de terceros que no están bajo el control de Capicaps. No somos responsables del contenido de ningún sitio enlazado ni de ningún enlace contenido en un sitio enlazado. La inclusión de cualquier enlace no implica necesariamente una recomendación o respalda las opiniones expresadas en ellos.</p>

  <h3>6. Modificación de Términos</h3>
  <h4>Derecho a Modificar</h4>
  <p>Capicaps se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones entrarán en vigor inmediatamente después de su publicación en el sitio web.</p>
  <h4>Notificación de Cambios</h4>
  <p>Es responsabilidad del usuario revisar periódicamente estos Términos y Condiciones para estar al tanto de cualquier cambio. El uso continuado del sitio web después de la publicación de cambios constituirá su aceptación de dichos cambios.</p>
</div>